Options -Indexes

<IfModule mod_rewrite.c>

RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
RewriteRule ^directory/ - [L,R=404]

RewriteRule ^keluar$ ../logout.php [QSA,L]

RewriteRule ^home$ media.php?module=home [QSA,L]

RewriteRule ^profile$ media.php?module=profile [QSA,L]
RewriteRule ^aksi-edit-profile$ content/profile/aksi.php?act=update [QSA,L]
RewriteRule ^profile-cekpass$ content/profile/aksi.php?act=cekpass [QSA,L]

RewriteRule ^data-material$ content/data/index.php?act=material [QSA,L]
RewriteRule ^data-material-gudang$ content/data/index.php?act=material_gudang [QSA,L]
RewriteRule ^data-satuan-material$ content/data/index.php?act=satuan_material [QSA,L]
RewriteRule ^data-stok-gudang$ content/data/index.php?act=stok_gudang [QSA,L]


RewriteRule ^lok-propinsi$ content/lok/aksi.php?act=propinsi [QSA,L]
RewriteRule ^lok-kabupaten$ content/lok/aksi.php?act=kabupaten [QSA,L]
RewriteRule ^lok-kecamatan$ content/lok/aksi.php?act=kecamatan [QSA,L]
RewriteRule ^lok-kelurahan$ content/lok/aksi.php?act=kelurahan [QSA,L]

### PO
RewriteRule ^po$ media.php?module=po [QSA,L]
RewriteRule ^po-data$ content/po/aksi.php?act=data_json [QSA,L]

RewriteRule ^po-tambah$ media.php?module=po&act=tambah [QSA,L]
RewriteRule ^po-table-material-add$ content/po/aksi.php?act=table_add_material [QSA,L]
RewriteRule ^po-input$ content/po/aksi.php?act=input [QSA,L]

RewriteRule ^po-tambah-material$ content/po/aksi.php?act=tambah_material [QSA,L]
RewriteRule ^po-input-material$ content/po/aksi.php?act=input_material [QSA,L]
###RewriteRule ^po-edit-material$ content/po/aksi.php?act=edit_material [QSA,L]
###RewriteRule ^po-update-material$ content/po/aksi.php?act=update_material [QSA,L]
RewriteRule ^po-delete-material$ content/po/aksi.php?act=delete_material [QSA,L]

###RewriteRule ^po-edit-([0-9]+)$ media.php?module=po&act=edit&id=$1 [QSA,L]
###RewriteRule ^po-tambah-material-edit$ content/po/aksi.php?act=tambah_material_edit [QSA,L]
###RewriteRule ^po-input-material-edit$ content/po/aksi.php?act=input_material_edit [QSA,L]
###RewriteRule ^po-edit-material-edit$ content/po/aksi.php?act=edit_material_edit [QSA,L]
###RewriteRule ^po-update-material-edit$ content/po/aksi.php?act=update_material_edit [QSA,L]
###RewriteRule ^po-delete-material-edit$ content/po/aksi.php?act=delete_material_edit [QSA,L]

RewriteRule ^po-view-([0-9]+)$ media.php?module=po&act=view&id=$1 [QSA,L]

RewriteRule ^po-cetak-([0-9]+)$ content/po/aksi.php?act=cetak&id=$1 [QSA,L]
RewriteRule ^po-cetak2-([0-9]+)$ content/po/aksi.php?act=cetak2&id=$1 [QSA,L]
RewriteRule ^po-next$ content/po/aksi.php?act=next [QSA,L]
RewriteRule ^po-next-action$ content/po/aksi.php?act=next_action [QSA,L]

RewriteRule ^po-cancel$ content/po/aksi.php?act=cancel [QSA,L]
RewriteRule ^po-cancel-action$ content/po/aksi.php?act=cancel_action [QSA,L]

### Terima PO
RewriteRule ^terimapo$ media.php?module=terima_po [QSA,L]
RewriteRule ^terimapo-data$ content/terima_po/aksi.php?act=data_json [QSA,L]

RewriteRule ^terimapo-tambahform$ content/terima_po/aksi.php?act=tambah_form [QSA,L]
RewriteRule ^terimapo-tambah$ media.php?module=terima_po&act=tambah [QSA,L]
RewriteRule ^terimapo-input$ content/terima_po/aksi.php?act=input [QSA,L]

RewriteRule ^terimapo-view-([0-9]+)$ media.php?module=terima_po&act=view&id=$1 [QSA,L]

RewriteRule ^terimapo-sn-([0-9]+)$ media.php?module=terima_po&act=sn&id=$1 [QSA,L]
RewriteRule ^terimapo-sn-input$ content/terima_po/aksi.php?act=sn_input [QSA,L]
RewriteRule ^terimapo-sn-delete-([0-9]+)$ content/terima_po/aksi.php?act=sn_delete&id=$1 [QSA,L]

RewriteRule ^terimapo-cetak-([0-9]+)$ content/terima_po/aksi.php?act=cetak&id=$1 [QSA,L]
RewriteRule ^terimapo-next$ content/terima_po/aksi.php?act=next [QSA,L]
RewriteRule ^terimapo-next-action$ content/terima_po/aksi.php?act=next_action [QSA,L]

RewriteRule ^terimapo-cancel$ content/terima_po/aksi.php?act=cancel [QSA,L]
RewriteRule ^terimapo-cancel-action$ content/terima_po/aksi.php?act=cancel_action [QSA,L]



### PERSEDIAAN
RewriteRule ^persediaan$ media.php?module=persediaan [QSA,L]
RewriteRule ^persediaan-data$ content/persediaan/aksi.php?act=data_json [QSA,L]

RewriteRule ^persediaan-view-([0-9]+)$ media.php?module=persediaan&act=view&id=$1 [QSA,L]
RewriteRule ^persediaan-view-data$ content/persediaan/aksi.php?act=data_json_view [QSA,L]
RewriteRule ^persediaan-view-data-sn$ content/persediaan/aksi.php?act=data_json_view_sn [QSA,L]

### MUTASI MATERIAL
RewriteRule ^mutasi$ media.php?module=mutasi [QSA,L]
RewriteRule ^mutasi-data$ content/mutasi/aksi.php?act=data_json [QSA,L]

RewriteRule ^mutasi-tambah$ media.php?module=mutasi&act=tambah [QSA,L]
RewriteRule ^mutasi-table-material-add$ content/mutasi/aksi.php?act=table_add_material [QSA,L]
RewriteRule ^mutasi-input$ content/mutasi/aksi.php?act=input [QSA,L]
RewriteRule ^mutasi-validasi-gudang$ content/mutasi/aksi.php?act=validasi_gudang [QSA,L]

RewriteRule ^mutasi-tambah-material$ content/mutasi/aksi.php?act=tambah_material [QSA,L]
RewriteRule ^mutasi-input-material$ content/mutasi/aksi.php?act=input_material [QSA,L]
RewriteRule ^mutasi-delete-material$ content/mutasi/aksi.php?act=delete_material [QSA,L]

RewriteRule ^mutasi-view-([0-9]+)$ media.php?module=mutasi&act=view&id=$1 [QSA,L]

RewriteRule ^mutasi-cetak-([0-9]+)$ content/mutasi/aksi.php?act=cetak&id=$1 [QSA,L]
RewriteRule ^mutasi-next$ content/mutasi/aksi.php?act=next [QSA,L]
RewriteRule ^mutasi-next-action$ content/mutasi/aksi.php?act=next_action [QSA,L]

RewriteRule ^mutasi-cancel$ content/mutasi/aksi.php?act=cancel [QSA,L]
RewriteRule ^mutasi-cancel-action$ content/mutasi/aksi.php?act=cancel_action [QSA,L]

RewriteRule ^mutasi-sn-([0-9]+)$ media.php?module=mutasi&act=sn&id=$1 [QSA,L]
RewriteRule ^mutasi-sn-input$ content/mutasi/aksi.php?act=sn_input [QSA,L]
RewriteRule ^mutasi-sn-delete-([0-9]+)$ content/mutasi/aksi.php?act=sn_delete&id=$1 [QSA,L]


###PENGGUNAAN MATERIAL
RewriteRule ^guna$ media.php?module=guna [QSA,L]
RewriteRule ^guna-data$ content/guna/aksi.php?act=data_json [QSA,L]

RewriteRule ^guna-tambah$ media.php?module=guna&act=tambah [QSA,L]
RewriteRule ^guna-table-material-add$ content/guna/aksi.php?act=table_add_material [QSA,L]
RewriteRule ^guna-master-kategori$ content/guna/aksi.php?act=master_guna_kategori [QSA,L]
RewriteRule ^guna-input$ content/guna/aksi.php?act=input [QSA,L]

RewriteRule ^guna-tambah-material$ content/guna/aksi.php?act=tambah_material [QSA,L]
RewriteRule ^guna-input-material$ content/guna/aksi.php?act=input_material [QSA,L]
RewriteRule ^guna-delete-material$ content/guna/aksi.php?act=delete_material [QSA,L]

RewriteRule ^guna-view-([0-9]+)$ media.php?module=guna&act=view&id=$1 [QSA,L]

RewriteRule ^guna-cetak-([0-9]+)$ content/guna/aksi.php?act=cetak&id=$1 [QSA,L]
RewriteRule ^guna-next$ content/guna/aksi.php?act=next [QSA,L]
RewriteRule ^guna-next-action$ content/guna/aksi.php?act=next_action [QSA,L]

RewriteRule ^guna-cancel$ content/guna/aksi.php?act=cancel [QSA,L]
RewriteRule ^guna-cancel-action$ content/guna/aksi.php?act=cancel_action [QSA,L]

RewriteRule ^guna-sn-([0-9]+)$ media.php?module=guna&act=sn&id=$1 [QSA,L]
RewriteRule ^guna-sn-input$ content/guna/aksi.php?act=sn_input [QSA,L]
RewriteRule ^guna-sn-delete-([0-9]+)$ content/guna/aksi.php?act=sn_delete&id=$1 [QSA,L]


### OPNAME STOCK
RewriteRule ^opname$ media.php?module=opname [QSA,L]
RewriteRule ^opname-data$ content/opname/aksi.php?act=data_json [QSA,L]

RewriteRule ^opname-tambah$ media.php?module=opname&act=tambah [QSA,L]
RewriteRule ^opname-table-material-add$ content/opname/aksi.php?act=table_add_material [QSA,L]
RewriteRule ^opname-input$ content/opname/aksi.php?act=input [QSA,L]


RewriteRule ^opname-view-([0-9]+)$ media.php?module=opname&act=view&id=$1 [QSA,L]

RewriteRule ^opname-table-material-view$ content/opname/aksi.php?act=table_view_material [QSA,L]
RewriteRule ^opname-tambah-material$ content/opname/aksi.php?act=tambah_material [QSA,L]
RewriteRule ^opname-input-material$ content/opname/aksi.php?act=input_material [QSA,L]
RewriteRule ^opname-edit-material$ content/opname/aksi.php?act=edit_material [QSA,L]
RewriteRule ^opname-update-material$ content/opname/aksi.php?act=update_material [QSA,L]
RewriteRule ^opname-delete-material$ content/opname/aksi.php?act=delete_material [QSA,L]

RewriteRule ^opname-cetak-([0-9]+)$ content/opname/aksi.php?act=cetak&id=$1 [QSA,L]
RewriteRule ^opname-next$ content/opname/aksi.php?act=next [QSA,L]
RewriteRule ^opname-next-action$ content/opname/aksi.php?act=next_action [QSA,L]

RewriteRule ^opname-cancel$ content/opname/aksi.php?act=cancel [QSA,L]
RewriteRule ^opname-cancel-action$ content/opname/aksi.php?act=cancel_action [QSA,L]

RewriteRule ^opname-sn-([0-9]+)$ media.php?module=opname&act=sn&id=$1 [QSA,L]
RewriteRule ^opname-table-material-sn$ content/opname/aksi.php?act=table_sn_material [QSA,L]
RewriteRule ^opname-sn-tambah$ content/opname/aksi.php?act=sn_tambah [QSA,L]
RewriteRule ^opname-sn-input$ content/opname/aksi.php?act=sn_input [QSA,L]
RewriteRule ^opname-sn-edit$ content/opname/aksi.php?act=sn_edit [QSA,L]
RewriteRule ^opname-sn-update$ content/opname/aksi.php?act=sn_update [QSA,L]
RewriteRule ^opname-sn-delete$ content/opname/aksi.php?act=sn_delete [QSA,L]


### DISAMNTLE
RewriteRule ^dismantle$ media.php?module=dismantle [QSA,L]
RewriteRule ^dismantle-data$ content/dismantle/aksi.php?act=data_json [QSA,L]

RewriteRule ^dismantle-tambahform$ content/dismantle/aksi.php?act=tambah_form [QSA,L]
RewriteRule ^dismantle-useridentity$ content/dismantle/aksi.php?act=useridentity [QSA,L]

RewriteRule ^dismantle-tambah$ media.php?module=dismantle&act=tambah [QSA,L]
RewriteRule ^dismantle-input$ content/dismantle/aksi.php?act=input [QSA,L]

RewriteRule ^dismantle-view-([0-9]+)$ media.php?module=dismantle&act=view&id=$1 [QSA,L]

RewriteRule ^dismantle-next$ content/dismantle/aksi.php?act=next [QSA,L]
RewriteRule ^dismantle-next-action$ content/dismantle/aksi.php?act=next_action [QSA,L]

RewriteRule ^dismantle-cancel$ content/dismantle/aksi.php?act=cancel [QSA,L]
RewriteRule ^dismantle-cancel-action$ content/dismantle/aksi.php?act=cancel_action [QSA,L]


### DATA MATERIAL
RewriteRule ^material$ media.php?module=material [QSA,L]
RewriteRule ^material-data$ content/material/aksi.php?act=data_json [QSA,L]
RewriteRule ^material-view-([0-9]+)$ media.php?module=material&act=view&id=$1 [QSA,L]

### PENCARIAN MATERIAL
RewriteRule ^cari$ media.php?module=cari [QSA,L]
RewriteRule ^cari-material$ content/cari/aksi.php?act=material [QSA,L]


###PELANGGAN
RewriteRule ^customer$ media.php?module=customer [QSA,L]
RewriteRule ^customer-data$ content/customer/aksi.php?act=data_json [QSA,L]
RewriteRule ^customer-tambah$ content/customer/aksi.php?act=tambah [QSA,L]
RewriteRule ^customer-input$ content/customer/aksi.php?act=input [QSA,L]
RewriteRule ^customer-edit$ content/customer/aksi.php?act=edit [QSA,L]
RewriteRule ^customer-update$ content/customer/aksi.php?act=update [QSA,L]
RewriteRule ^customer-delete-([0-9a-zA-Z-]+)$ content/customer/aksi.php?act=delete&id=$1 [QSA,L]


</IfModule>